.main {
  font-size:24px;
  padding:3cm;
  margin:4cm;
  border:5px solid black;
  background-color:white;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  
}


body {
  background-image:url(https://th.bing.com/th/id/OIP.QCaDVLJbUIoX9wGyurKD9AHaEK?pid=ImgDet&rs=1);
  margin:0;
  padding:0;
  background-size:cover;
  background-position:center;
  backgroundblend-mode:lighten;
  background-color:rgba(134, 150, 200, 0.5);
  
}

html {
  scroll-behavior: smooth;
}
